{% extends "base.html" %}
{% load i18n pagination %}

{% block extra_head %}
<meta property="og:description" content="{% blocktrans %}This page gives you an overview of our Mobile Vikings press releases, as well as the latest press articles related to Mobile Vikings.{% endblocktrans %}"/>
{% endblock %}

{% block page_title %}{% trans "Press" %} - {{ block.super }}{% endblock %}
{% block title %}{% trans "Press" %}{% endblock %}
{% block menu_press %}selected{% endblock %}

{% block content %}
    {% block content_body %}
        <p>{% blocktrans %}This page gives you an overview of our Mobile Vikings press releases, as well as the latest press articles related to Mobile Vikings.{% endblocktrans %}</p>
        {% paginate object_list %}
        {% for object in object_list.object_list %}
            <div class="press_links blogpost">
                <h2>{{ object.title }}</h2>
                <span class="pub_date small">{{ object.pub_date|date:"d-m-Y" }}{% if object.source %} - {{ object.source }}{% endif %}</span>
                <p>{{ object.excerpt|markdown|linebreaksbr }}</p>
                {% if object.link_set.count %}
                <ul>
                    {% for link in object.link_set.all %}
                    <li><a {% if link.link_new_page %}target="_blank"{% endif %} href="{{ link.link }}">{{ link.link_text }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style " addthis:url="https://{{ site_url }}{% url press_links_entry_detail slug=object.slug %}" addthis:title="{{ object.title }}">
                <a href="#" class="addthis_button_preferred_1"></a>
                <a href="#" class="addthis_button_preferred_2"></a>
                <a href="#" class="addthis_button_preferred_3"></a>
                <a href="#" class="addthis_button_preferred_4"></a>
                <a href="#" class="addthis_button_compact"></a>
                <a href="#" class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=citylive"></script>
                <!-- AddThis Button END -->
            </div>
            {% if not forloop.last %}
                <div class="hr_press">
                    <hr/>
                </div>
            {% endif %}
        {% endfor %}
        {% endpaginate %}
    {% endblock %}
{% endblock %}
