{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{{ object.title }} - {% trans "Press" %} - {{ block.super }}{% endblock %}
{% block title %}<span class="blog-title-date">{{ object.pub_date|date:"d M" }}</span> {{ object.title }}{% endblock %}

{% block content_body %}
    <div class="blog-post-body">
        {{ object.excerpt|safe }}
        {% if object.link_set.count %}
        <ul>
            {% for link in object.link_set.all %}
            <li><a href="{{ link.link }}">{{ link.link_text }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
